.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    flex: 1.5;
    font-size: 11px;
    flex-grow: 1;
    height: 32px;
    align-items: center;
}

.dropdown {
    display: flex;
    flex-grow: 1;
}

.apply-style__message {
    display: grid;
    place-content: center;
    height: 96px;
    background-color: var(--figma-color-bg-secondary);
    padding: 0 16px;
    line-height: 1.5;
    border-bottom: 1px var(--figma-color-border) solid;
    overflow: hidden;
}

.apply-style__text {
    color: var(--figma-color-text-disabled);
    font-weight: 400;
}

/* ui.module.css */
.previewContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.previewImage {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.previewPlaceholder {
    color: var(--figma-color-text-disabled);  /* 非活性テキストの色 */
    display: flex;
    margin: 0 16px;
    height: 100%;
    align-items: center;
}

.previewText {
    color: var(--figma-color-text);  /* 要素が選択されている場合のテキストの色 */
    display: flex;
    margin: 0 8px;
    height: 100%;
    align-items: center;
}